<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is ejs file</title>
</head>
<body>
    <h1>This is a homepage 8 + 2</h1>
    <h3> <%= 8 + 2 %> </h3>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ipsa expedita rem molestiae, quae fuga incidunt ducimus iste, ratione illo ipsam!</p>

    <button>Click me!</button>
</body>
</html>