<% layout('./layouts/boilerplate.ejs') %>

<body>
    <div class="row">
        <div class="alert alert-secondary col-6 offset-3" role="alert">
            <%= message %>
        </div>
    </div>
</body>