<% layout("/layouts/boilerplate.ejs") %>

<style>
  #filter-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  #filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .filter {
    text-align: center;
    margin: 1rem 0rem;
    margin-left: 2rem;
    opacity: 0.7;
    font-size: 14px;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .tax-toggle {
    width: 200px;
    border: 2px solid rgb(125, 124, 124);
    border-radius: 8px;
    padding: 4px;
    padding-right: 6px;
    margin-left: 5vw;
  }

  .form-check {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
  }

  .tax-info {
    display: none;
  }

</style>

<body>
  <div id="filter-container">
    <div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        Trending
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        Rooms
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        Iconic-cities
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        Mountains
      </div>
      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        Castles
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        Amazing pools
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        Camping
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        Farms
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        Arctic
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        Domes
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        Boats
      </div>
    </div>

    <div class="tax-toggle">
      <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display Taxes</label
        >
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
      </div>
    </div>
  </div>

  <div class="cards">
    <% for (let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>">
      <div class="card listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listing image"
        />
        <div class="card-body">
          <%= listing.title %>
          <p>
            &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
            <i class="tax-info">+18% GST</i>
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>

<script>
  let Taxswitch = document.getElementById("flexSwitchCheckDefault");
  Taxswitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
