<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form method="post" action="/posts">
        <label for="username">Username:</label>
        <input type="text" id="name" name="username" placeholder="Enter username" required>
        <br><br>
    
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="5" cols="60" placeholder="Enter Content" required></textarea>
        
        <br><br>
        <button class="subBtn" type="submit">Post</button>    
    </form>

</body>
</html>