<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
</head>
<body>
    <h1>This is detailed post information</h1>

    <div class="main">
        <div class="post">
            <h3 class="username">@<%= post.username %><h3>
            <h3>Post id : <%= post.id %></h3>
            <p>Post Content : <%= post.content %></p>
        </div>
    </div>

</body>
</html>